.jumbotron#main-page-jumbotron
    .container
        %h1 Progressions
    .container{:id => "contra-by-formation"}
        .row
            %h1 Listing progressions
            .row
                %table.table.table-striped
                    %thead
                        %tr
                            %th Progression Type
                            %th

                        %tbody
                            - @progressions.each do |progression|
                                %tr
                                    %td= progression.name
                                    %td= link_to 'View', progression