.container{:id => "all-contras"}
    %h1{:class => "main-title"} Progressions
.container
    .row
        %table.table
            %thead
                %tr
                    %th 
                    %th

                %tbody
                    - @progressions.each do |progression|
                        %tr
                            %td= progression.name
                            %td= link_to 'View', progression