.container
  .row
    .col-md-12
      %h1{:style => "text-align:center"} #{@progression.name} Progression Dances
- if !@contras.empty?
  .container{:id => "all-contras"}
    - @contras.each do |contra|
      = render :partial => 'contra/contra', :locals => { :contra => contra }
  %hr