
.jumbotron#main-page-jumbotron
    .container
        %h1 All Dances
    .container{:id => "all-contras"}
        - @contras.each do |contra|
            = render :partial => 'contra', :locals => { :contra => contra }
    %hr