.container{:id => "all-contras"}
    %h1{:class => "main-title"} Formations
.container
    .row
        %table.table
            %thead
                %tr
                    %th 
                    %th

                %tbody
                    - @formations.each do |formation|
                        %tr
                            %td= formation.name
                            %td= link_to 'View', formation