/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
/*@import "font-awesome-sprockets";
@import "font-awesome";*/
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin shadow-round($height) {
  box-shadow: 0px 0px $height grey;
  border-radius: 3px;
}

a:hover { background-color: transparent;  }

.btn {
  @include shadow-round(6px);
}

a:visited {
  &.btn-primary,
  &.btn-success,
  &.btn-info,
  &.btn-warning,
  &.btn-danager {
    color: #fff;
  }
}

.contra-block {
  margin: 25px;
  padding: 0px 10px;
  @include shadow-round(12px);
  
  p {
    font-size: 12pt;
  }
  
  .contra-title {
    color: #995FA3;
    font-size: 18pt;
  }
  
  .fp-title {
    font-size: 14pt;
    color: black;
  }
  
  .author-title {
    font-size: 14pt;
    color: black;
  }
}

.sort-title {
  font-size: 14pt;
}

.main-title {
  font-size: 20pt;
  color: #912222;
}

#all-contras {
  background-color:#FFFFFF;
  //@include shadow-round(8px);
}

.list-group {
  list-style-type: none;
}

.panel_style {
  background-color:#FFFFFF;
}

// Make the entire width of panel title
// clickable
.panel-title a {
  width: 100%;
  text-align: left;
  display: inline-block;
}

.top-buffer {
  margin-top :10px;
}

.default-padding {
  padding-top :25px;
  padding-right :100px;
  padding-bottom :25px;
  padding-left  :100px;
}

.default center {
  margin: auto;
  width: 60%;
  padding: 10px
}

.form-section {
  padding: 10px;
  margin: 10px 5px;
  background-color: #DEDEDE;
  @include shadow-round(8px);
}

.jumbotron p {
  line-height: inherit;
}

/** Footer styling **/
footer {
  padding: 20px 0px 10px 0px;
  margin-top: 30px;
  background-image: "../images/ECD-line.png";
  position: absolute;
  bottom: 0;
  min-height: 60px;
}

#body {
 padding:10px;
 padding-bottom:80px;   /* Height of the footer */
 height:100%;
}

#container {
  min-height: 100%;
  position: relative;
}


#main-page-jumbotron {
  background-image: url(../images/color.jpg);
  background-position: 0% 45%;
 // background-size: cover;
  background-repeat: no-repeat;
  color: black;
  min-height: 200px;
}

.actions {
  margin-top: 10px;
}

.admin-actions {
  margin: 40px 0;

  .btn-group {
    margin: 10px 0;
  }
}

@media print {
  body { background-color: #FFF; }
  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  #main-page-jumbotron { display: none; }
  #btn#btn-default { display: none; }
  
  .noprint { display:none !important; }
  a:link:after, a:visited:after {  
    display: none;
    content: "";    
  }
}