.container{:id => "all-contras"}
    %h1{:class => "main-title"} Authors
.container
    .row
        %table.table
            %thead
                %tr
                    %th 
                    %th
    
                %tbody
                    - @authors.each do |author|
                        %tr                         
                            %td= author.name
                            %td= link_to 'View', author