.jumbotron#main-page-jumbotron
    .container
        %h1 Authors
    .container{:id => "contra-by-formation"}
        .row
            %h1 Listing authors
            .row
                %table.table.table-striped
                    %thead
                        %tr
                            %th Author
                            %th

                        %tbody
                            - @authors.each do |author|
                                %tr
                                    %td= author.name
                                    %td= link_to 'View', author